.row {
  color: rgb(255, 255, 255);
  }
  
  .row::before {
    content: "";
    position: absolute;
    top: 400px;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}
.row h2 {
  margin-left: 15px;

}
.row__posters {
  background-color: black;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  transition: transform 400ms;
  margin-right: 10px;
}
.row__poster:hover {
  transform: scale(1.1);
}

.row__posterLarge {
  max-height: 250px;
}
.youtube {
  display: block;
  margin: 0 auto;
}
